* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #111;
}

section {
  position: relative;
  height: 100vh;
  display: flex;
}
section img {
  margin: auto;

  object-fit: cover;
}
